.sitename {
    background: linear-gradient(to right, black, blue);
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    display: inline-block;
    margin-left: 1rem;
}


/* @media only screen and (max-width: 550px) {
    .navlogo>img {
        border: 1px solid red;
        padding-left: 0rem;
        margin-left: 0rem;
    }
} */