.loginbtn {
    color: rgb(55 65 81)
}

.loginbtn:hover {
    color: rgb(58, 88, 148);
}

@media only screen and (max-width: 767px) {
    .loginbtn {
        padding-right: 1rem;
        padding-left: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}